mat-toolbar {
  border-bottom: 2px solid #6b6b6b2b;
  display: flex;
  justify-content: space-between;
}

.profile {
  height: 100%;
}

.profile img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;

  border-radius: 50%;
  border: 1px solid #6b6b6b2b;
  margin-right: 1rem;
}

.profile span {
  margin-right: 0.5rem;
}
