<form autocomplete="false" fxLayout="column">
  <!-- HEADERS -->
  <h1>Ambulance App</h1>
  <h2>Credentials</h2>

  <!-- EMAIL -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" placeholder="Write email" />
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Write password" />
  </mat-form-field>

  <!-- BUTTON -->
  <button mat-raised-button color="primary" type="button">Login</button>
</form>
