.page-login {
  height: 100vh;
  /* width: 100vw; */
}

.left {
  background-image: url("/assets/img/backgrounds/leftLoginPage1.jpeg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

lottie-player {
  margin-right: 22.5rem;
  margin-top: 5rem;
}
