<uwu-title>
  <button mat-mini-fab addButton color="primary">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-mini-fab restoreButton color="primary">
    <mat-icon>restore_from_trash</mat-icon>
  </button>
</uwu-title>

<uwu-container>
  <perfect-scrollbar class="height-max-perfect-scrollbar">
    <uwu-table [metaDataFields]="metaDataFields" [dataSource]="dataSource"></uwu-table>
  </perfect-scrollbar>
  <uwu-paginator [length]="length" [pageSize]="pageSize"(onChangePage)="getRecordsByPage($event)" ></uwu-paginator>
</uwu-container>
