<section class="own-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="metaDataField.name"
      *ngFor="let metaDataField of metaDataFields"
    >
      <th mat-header-cell *matHeaderCellDef>{{ metaDataField.alias }}</th>
      <td mat-cell *matCellDef="let row">{{ row[metaDataField.name] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="fields; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: fields"></tr>
  </table>
</section>
